<%= form_with(model: @tweeet, local: true, url: choose_new_or_edit) do |form| %>
  <% if @tweeet.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(tweeet.errors.count, "error") %> prevented this tweet from being saved :</h2>

  <ul>
    <% tweeet.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
  </div>
  <% end %>

  <div class="field">

    <%= form.text_area :tweeet %>
  </div>

  <div class="actions">
  <%= form.submit %>
</div>
<% end %>
