<h3> Confirmation </h3>
<%= form_with(model: @tweeet, url: new_tweeet_path, local:true, method: 'get') do |form| %>
    <%= form.hidden_field :tweeet %>
    <p>Your Tweet: <%= @tweeet.tweeet %></p>
  <%= form.submit  "Submit" %>
<% end %>

<%= form_with(model: @tweeet, url: new_tweeet_path, local:true,method: 'get') do |form| %>
    <%= form.hidden_field :tweeet %>
  <%= form.submit  "back", name: 'back' %>
<% end %>
